.About-Container1 {
    display: grid;
    background-color: var(--space-cadet);
    color: var(--emerald);
    justify-content: center;
    align-content: center;
    font-size: larger;
    height: 1000px;
    width: 100%;
}

.Photo {
    position: relative;
    right: 50px;
}
/*
.Card1 {
    position: relative;
    left: 50px;
    height: 200px;
    width: 200px;

}

.Card2 {
    height: 400px;
    width: 400px;
}*/