/* Coolors Exported Palette - https://coolors.co/283153-27505b-256f62-248e6a-22ac72-21cb79-1fea81 */

/* CSS HEX */
:root {
--space-cadet: #283153ff;
--midnight-green-eagle-green: #27505Bff;
--pine-green: #256F62ff;
--illuminating-emerald: #248E6Aff;
--green-crayola: #22AC72ff;
--emerald: #21CB79ff;
--medium-spring-green: #1FEA81ff;

}