/* Coolors Exported Palette - https://coolors.co/0d262e-15474d-1e686b-26898a-2eaaa9-37cbc7-3fece6 */


/* SCSS HEX */
$gunmetal: #0D262Eff;
$midnight-green-eagle-green: #15474Dff;
$skobeloff: #1E686Bff;
$dark-cyan: #26898Aff;
$verdigris: #2EAAA9ff;
$medium-turquoise: #37CBC7ff;
$fluorescent-blue: #3FECE6ff;

/* SCSS HSL */
$gunmetal: hsla(195, 56%, 12%, 1);
$midnight-green-eagle-green: hsla(186, 57%, 19%, 1);
$skobeloff: hsla(182, 56%, 27%, 1);
$dark-cyan: hsla(181, 57%, 35%, 1);
$verdigris: hsla(180, 57%, 42%, 1);
$medium-turquoise: hsla(178, 59%, 51%, 1);
$fluorescent-blue: hsla(178, 82%, 59%, 1);

/* SCSS RGB */
$gunmetal: rgba(13, 38, 46, 1);
$midnight-green-eagle-green: rgba(21, 71, 77, 1);
$skobeloff: rgba(30, 104, 107, 1);
$dark-cyan: rgba(38, 137, 138, 1);
$verdigris: rgba(46, 170, 169, 1);
$medium-turquoise: rgba(55, 203, 199, 1);
$fluorescent-blue: rgba(63, 236, 230, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0D262Eff, #15474Dff, #1E686Bff, #26898Aff, #2EAAA9ff, #37CBC7ff, #3FECE6ff);
$gradient-right: linear-gradient(90deg, #0D262Eff, #15474Dff, #1E686Bff, #26898Aff, #2EAAA9ff, #37CBC7ff, #3FECE6ff);
$gradient-bottom: linear-gradient(180deg, #0D262Eff, #15474Dff, #1E686Bff, #26898Aff, #2EAAA9ff, #37CBC7ff, #3FECE6ff);
$gradient-left: linear-gradient(270deg, #0D262Eff, #15474Dff, #1E686Bff, #26898Aff, #2EAAA9ff, #37CBC7ff, #3FECE6ff);
$gradient-top-right: linear-gradient(45deg, #0D262Eff, #15474Dff, #1E686Bff, #26898Aff, #2EAAA9ff, #37CBC7ff, #3FECE6ff);
$gradient-bottom-right: linear-gradient(135deg, #0D262Eff, #15474Dff, #1E686Bff, #26898Aff, #2EAAA9ff, #37CBC7ff, #3FECE6ff);
$gradient-top-left: linear-gradient(225deg, #0D262Eff, #15474Dff, #1E686Bff, #26898Aff, #2EAAA9ff, #37CBC7ff, #3FECE6ff);
$gradient-bottom-left: linear-gradient(315deg, #0D262Eff, #15474Dff, #1E686Bff, #26898Aff, #2EAAA9ff, #37CBC7ff, #3FECE6ff);
$gradient-radial: radial-gradient(#0D262Eff, #15474Dff, #1E686Bff, #26898Aff, #2EAAA9ff, #37CBC7ff, #3FECE6ff);